<!-- edit_employee -->
    <div class="d-flex flex-column flex-md-row justify-content-around  p-2">
      <div class="container mt-4 col-md-4 ">
        <h4 class="text-center">Emloyee details</h4>
  
        <form class="row g-3 mt-1 border rounded p-2 shadow mt-4" 
          style="--bs-border-opacity: 0.5"
          action="/admin/update" 
          method="POST">
  
          <!-- Name input -->
          <div class="form-outline ">
            <label class="form-label" for="username">User name</label>
            <input type="text" id="name" name="name" class="form-control" value="<%= employee.name %>" required />
          </div>
  
          <!-- Email input -->
          <div class="form-outline ">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" value="<%= employee.email %>" readonly
              required />
          </div>
  
          <!-- admin -->
         <div class ="form-outline">
          <label class="form-label" for="admin">Role</label>
          <select name = "role">
            <option value="Admin">Admin</option>
            <option value = "Employee">Employee</option>
          </select>

         </div>
  
          <div class="d-flex  justify-content-end" >
            <button type="submit" class="btn btn-primary" style="width:50%;">Update</button>
          </div>
  
        </form>
      </div>
  
  
      <!-- Reviews section -->
      <div class="container mt-4 col-md-4 ">
        <h4 class="text-center">Feedbacks given by other users</h4>
           
    
          </div>
             
          <% for(let i = 0; i < employee.feed.length; i++) {%>

            <p><%= employee.feed[i].comment %></p>
            <p><%= employee.feed[i].reviewer %></p>

            <%}%>
  
        </div>
  
      </div>
  
    </div>
  
    